* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 80%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 60px;
}
.article {
  width: 60%;
  display: flex;
  align-items: center;
}
.heading {
  font-size: 45px;
  color: #a24ef0;
}
.img {
  width: 50px;
  height: 50px;
}
nav {
  width: 40%;
}
ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
